################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Bibli/Bibli/Biblioteca/.vs/Biblioteca/FileContentIndex/61d661ef-38ac-440f-8416-2d0b0474d4b4.vsidx
/Bibli/Bibli/Biblioteca/.vs/Biblioteca/FileContentIndex/ba967eb8-2a3c-4aa3-a3e4-75ca3cc0cae8.vsidx
/Bibli/Bibli/Biblioteca/.vs/Biblioteca/FileContentIndex/6852a460-85cc-434f-b20a-3383a7bd9605.vsidx
